<template>
  <v-main>
    <search-bar @show-profile="showProfileCard" @show-post="showPostCard" />
    <v-divider class="mt-6"></v-divider>
      <profile-card v-show="isProfile && !isPost" class="mt-10" ref="profileCard"/>
      <post-card v-show="isPost && !isProfile" ref="postCard" />
      

    
  </v-main>
</template>

<script>
// @ is an alias to /src

export default {
  data(){
    return {
      isProfile:false,
      isPost:false,
    }
  }, 
  methods: {
    showProfileCard(profile){
      this.isProfile=true;
      this.isPost=false;
      this.$refs.profileCard.showProfile(profile)
    },
    showPostCard(post){
      this.isProfile=false;
      this.isPost = true
      this.$refs.postCard.showPost(post)
    }
  }

}
</script>
