<template>
  <v-main>
        <v-card class="text-center">
            <v-container>

          <v-card-title>{{ post.author.username }}</v-card-title>
          <v-card-subtitle>{{ "Post ID: "+ post.postId}}</v-card-subtitle>


            <v-img :src="post.author.profile_pic_url" max-width="200"/>
            </v-container>

    
          <v-card-text>
              <div v-if="post.media.length > 1">
                <v-card :key="m.displayUrl" v-for="m in post.media">
                    <div v-if="m.isVideo">
                            <v-container>
                                <video controls> 
                                    <source :src="m.videoUrl" type="video/mp4">
                                </video>
                            </v-container>

                    <v-card-actions class="justify-center">
                        <v-btn color="primary" block :href="m.videoUrl" target="_blank">Download</v-btn>
                    </v-card-actions>
                    </div>
                    <div v-else>
                            <v-container>
                                <v-img :src="m.displayUrl"/>
                            </v-container>
                    <v-card-actions class="justify-center">
                        <v-btn color="primary" block :href="m.displayUrl" target="_blank">Download</v-btn>
                    </v-card-actions>
                    </div>
                </v-card>
              </div>
              <div v-else>
               
                    <div v-if="post.isVideo">
                            <v-container>
                                <video controls> 
                                    <source :src="post.videoUrl" type="video/mp4">
                                </video>
                            </v-container>
                    <v-card-actions class="justify-center">
                        <v-btn color="primary" block :href="post.videoUrl" target="_blank">Download</v-btn>
                    </v-card-actions>

                    </div>
                    <div v-else>
                            <v-container>
                                <v-img :src="post.media"/>
                            </v-container>

                    <v-card-actions class="justify-center">
                        <v-btn color="primary" block :href="post.media" target="_blank">Download</v-btn>
                    </v-card-actions>
                    </div>
                
              </div>
          </v-card-text>
      </v-card>
  </v-main>
</template>

<script>
export default {
    data(){
        return {
            post: null,
        }
    },
    methods:{
        showPost(post){
            this.post = post
        }
    }
}
</script>

<style>

</style>