<template>
  <v-main>
    <v-card>
        <v-container>

      <v-container align-content-center>
        <v-card-title>{{ fullname }}</v-card-title>
        <v-card-title>{{ username }}</v-card-title>
        <v-card-subtitle>{{ profileId }}</v-card-subtitle>

        <v-card-subtitle>Profile is {{ isPrivate ? "Private" : "Public" }}</v-card-subtitle>
      </v-container>
      <v-card-text>
        <v-container>
          <v-img :src="profilePic" />
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn :href="profilePic" target="_blank">Download Profile Pic</v-btn>
      </v-card-actions>
        </v-container>
    </v-card>
  </v-main>
</template>

<script>
export default {
  data() {
    return {
      profileId: "",
      profilePic: "",
      fullname: "",
      username: "",
      isPrivate: false,
    };
  },
  methods: {
    showProfile(profile) {
      this.profileId = profile.profileId;
      this.fullname = profile.fullname;
      this.profilePic = profile.profilePic;
      this.username = profile.username;
      this.isPrivate = profile.isPrivate;
    },
    downloadPic() {
      window.location.replace(this.profilePic, "_blank");
    },
  },
};
</script>

<style>
</style>