<template>
  <v-card>
      <v-card-title>Search</v-card-title>
      <v-card-text>
          <v-text-field v-model="searchQuery" label="Search" required aria-required />
      </v-card-text>
      <v-card-actions>
          <v-btn block color="primary" elevation="2" @click.stop="search">Search</v-btn>
      </v-card-actions>
  </v-card>
</template>

<script>
import postsApi from "../api/posts";
import profileApi from "../api/profiles";
export default {
    data(){
        return{
           isProfileToggle: false,
           searchQuery:"",
           profile: null,
           post: null
        }
    },
    methods:{
        search(){
            if(this.isPost()){
                this.getPost()
            }else{
                this.getProfile()
            }
        },
        isPost(){
            /*if it's post return true */
            console.log(this.searchQuery.includes("/p/"))
            return this.searchQuery.includes("/p/") 
            /* if it's profile return false */
        },
        cleanupCodeOrUsername(){
            var baseProtocol = ""
            if(this.isPost()){
                baseProtocol = this.searchQuery.includes("https") ? "https://" : "http://";
                var postCode = this.searchQuery.replace(baseProtocol+"www.instagram.com"+"/p/", "");
                /* remove all slashes */
                postCode = postCode.replace("/","").replace("/","");
                return postCode
            }else{
                baseProtocol = this.searchQuery.includes("https") ? "https://" : "http://";
                var username = this.searchQuery.replace(baseProtocol+"www.instagram.com", "");
                /* remove all slashes */
                username = username.replace("/","").replace("/","");
                return username
            }
        },
        getPost(){
            var postCode = this.cleanupCodeOrUsername()

            console.log("getting postcode " + postCode)
             postsApi.getPost(postCode).then((response) => {
                //  console.log(response.data.graphql)
                 var postData = response.data.graphql.shortcode_media;
                 var hasMultiple = postData.edge_sidecar_to_children.edges ? true : false
                var post =null;
                 if(hasMultiple){
                     console.log("HAS MULTIPLE")
                     var medias = postData.edge_sidecar_to_children.edges
                    //  medias.length > 1 ? console.log("Multiple posts") : console.log("just one post")
                    console.log(medias.node)
                    post = {
                        postId: postData.id,
                        author: postData.owner,
                        isVideo: postData.is_video,
                        media: []
                    }
                    for (var m in medias) {
                        console.log(medias[m])
                        var mediaItem = {
                            isVideo: medias[m].node.is_video,
                            videoUrl: medias[m].node.video_url,
                            displayUrl: medias[m].node.display_url
                        }
                        post.media.push(mediaItem)
                    }
                 }else{
                    post = {
                        postId: postData.id,
                        author: postData.owner,
                        isVideo: postData.is_video,
                        media: postData.display_url,
                        videoUrl: postData.video_url
                    }
                 }
                this.$emit('show-post', post);
             }).catch((error) => {
                 console.log(error.toString())
             });
        },
        getProfile(){
            var username = this.searchQuery.includes("instagram.com") ? this.cleanupCodeOrUsername() : this.searchQuery.replace('/','')
            console.log("get profile "+ username)
             profileApi.getProfile(username).then((response) => {
                 console.log(response.data.graphql)
                 var userData= response.data.graphql.user
                 var profile = {
                     profileId: userData.id,
                     username: userData.username,
                     fullname: userData.full_name,
                     profilePic: userData.profile_pic_url_hd,
                     isPrivate: userData.is_private
                 }
                this.$emit("show-profile", profile);
             }).catch((error) => {
                 console.log(error.toString())
             })
        }
    },

}
</script>

<style>

</style>