<template>
    <v-footer
        absolute
        inset 
        app
        height="65" 
        width="auto"
        class="font-weight-medium"
    >
        <v-row>
            <v-col
                class="text-center"
                cols="4"
            >
                <v-img width="30" height="30" src="storage/logo_ctm.png"></v-img>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                class="text-center"
                cols="8"
            >
            {{ new Date().getFullYear() }} — <strong>{{ "IGScout" }}</strong>
        </v-col> 
        </v-row>
    </v-footer>
</template>

<script>
export default {

}
</script>

<style>

</style>