<template>
  <v-navigation-drawer v-model="drawer" absolute temporary>
    <v-list-item class="d-flex justify-center">
      <v-list-item-avatar width="120px" height="120px">
        <v-img src="#"></v-img>
      </v-list-item-avatar>
    </v-list-item>
    <v-list-item>
      <v-list-item-content class="text-center">
        {{ "IGScout" }}
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item
        v-for="item in items"
        @click.stop="item.click"
        :key="item.title"
        link
      >
        <v-list-item-icon>
          <v-icon :color="item.color">{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      items: [
        { title: "Home", color: "white", icon: "mdi-home", click: this.toHome },
        {
          title: "About",
          color: "white",
          icon: "mdi-information",
          click: this.toAbout,
        },
        {
          title: "Stories",
          color: "white",
          icon: "mdi-play-speed",
          click: this.toStories,
        },
        {
          title: "Scout",
          color: "white",
          icon: "mdi-crosshairs",
          click: this.toScout,
        },
      ],
    };
  },
  created() {
    this.updateBarItemColor();
  },
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer;
    },
    toHome() {
      this.$router.push({ name: "Home" });
    },
    toAbout() {
      this.$router.push({ name: "About" });
    },
    toStories(){
      this.$router.push({name: "Stories"});
    },
    toScout(){
      this.$router.push({name: "Scout"});
    },
    updateBarItemColor() {
      this.items.forEach((item) => {
        if (this.$route.name === item.title) {
          item.color = "error";
        } else {
          console.log(this.$vuetify.theme.dark);
          item.color = this.$vuetify.theme.dark ? "white" : "gray";
        }
      });
    },
  },
  watch: {
    "$route.name": function () {
      this.updateBarItemColor();
    },
    "$vuetify.theme.dark": function () {
      this.updateBarItemColor();
    },
  },
};
</script>

<style>
</style>