<template>
     <v-app-bar
      dense
      elevate-on-scroll
    >
        <v-app-bar-nav-icon @click.stop="openDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title>{{this.title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click.stop="changeTheme" icon>
            <v-icon>{{iconTheme}}</v-icon>
        </v-btn>
        <v-list-item-avatar>
            <v-img :src="user != null ? user.profilePic : '' "></v-img>
        </v-list-item-avatar>
        <v-card-subtitle> {{user != null ? user.name : '' }} </v-card-subtitle> 

     </v-app-bar>
</template>
<script>
export default {
    data() {
        return {
            iconTheme: "mdi-brightness-2",
        }
    },
    props : {
        title: {
            type: String,
            required: true
        },
        user: null
    },
    created(){
        this.iconTheme = this.$vuetify.theme.dark ? 
                    "mdi-brightness-5" : "mdi-brightness-2"
    },
    methods: {
        openDrawer() {
            this.$emit('open-drawer');
        },
        changeTheme() {
            this.iconTheme = this.$vuetify.theme.dark ? 
                    "mdi-brightness-2" : "mdi-brightness-5"
            this.$store.commit("preferences/changeTheme") 
            this.$vuetify.theme.dark = this.$store.state.preferences.theme !== "light"
        },
    }
}
</script>
