<template>
  <v-app class="overflow-hidden">
    <top-bar ref="topBar" :title="currentRouteName" @open-drawer="handleOpenSidebar"/>
    <side-bar ref="sideBar"/>
        <v-container class="fill-height" fluid>
            <router-view ></router-view>
        </v-container>
    <footer-bar/>
    </v-app>
</template>

<script>
export default {
  data(){
    return{
      drawer: null
    }
  },
  methods:{
    handleOpenSidebar(){
      this.$refs.sideBar.toggleDrawer();
    }
  },
  computed:{
    currentRouteName(){
      return this.$route.name;
    }
  },
  created(){

  }
}
</script>

<style lang="scss">

</style>
